.outsidePageContainer{
  padding: 20px;
  padding-top: 50px;
  text-align: center;
  background-image: url('../Assets/bg.jpg');
  background-position: center;
  background-size:cover;
  height: 100vh;
}

.chatPageContent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  padding: 20px;
}

.chartContainerSpanThree {
  grid-column: span 3;
  height: 300px; 
  margin: 10px;
  background: rgba(24, 24, 24, 0.8);
  border-radius: 30px;
  padding: 10px;
}

.chartContainerSpanTwo {
  grid-column: span 2;
  height: 300px; 
  margin: 10px;
  background: rgba(24, 24, 24, 0.8);
  border-radius: 30px;
  padding: 10px;
}